# Node
node_modules/

# Expo
.expo/
.expo-shared/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac
.DS_Store

# Environment variables
.env
.env.local

# Firebase
.firebase/
firebase-debug.log

# Build
dist/
build/

# TypeScript
*.tsbuildinfo

# Android / iOS
android/
ios/

# VS Code
.vscode/

# Misc
*.log